@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our website is protected by the best heroes in the biz! The information collected here will only be used to store your lists and personal heroes. No villains will use your info for anything other than the previously disclosed uses.</p>
<img class="img-fluid" src="~/css/venom.jpg" />